<script>var getdata = document.getElementById('addPost');
if(getdata){ getdata.addEventListener('submit', addPost)};
</script>

<div class="row">
  <div class="span9">
      <div class="span8">
<h1>Set up your account</h1>
  </div>
<div class ="inner" id="snippet-form"></div>
<!-- <%= form_for(@grant, url: snippets_path, method: :post) do |f| %>
  <%= f.fields_for :snippets do |snippets_f| %>
    <%= snippets_f.label :value, snippets_f.object.name %>
    <div class='hint'><%= snippets_f.object.description %></div>
    <%= snippets_f.text_area :value, :class => 'span10', :rows => 4 %>
  <% end %>
<br>
  <%= f.submit :update %>
<% end %> -->
<%= javascript_pack_tag 'snippet' %>
      </div>

</div>
