<fieldset>

    <!-- <legend>Recommender</legend> -->

    <div class="panel panel-primary">
      <div class="panel-heading">Recommender Info</div>
        <div class="panel-body">
          <div class="form-group">
            <%= f.text_field :first_name, :class=> 'form-control', :placeholder => 'First Name' %>

            <%= f.text_field :last_name, :class=> 'form-control', :placeholder => 'Last Name' %>

            <%= f.text_field :email, :class=> 'form-control',:placeholder => :Email %>

            <%= f.text_field :phone, :class=> 'form-control',:placeholder => :Phone %>

            <%= f.text_field :url, :class=> 'form-control',:placeholder => :URL %>

            <%= f.text_field :organization, :class=> 'form-control',:placeholder => 'Organization or University' %>

            <%= f.text_field :department, :class=> 'form-control',:placeholder => :Department %>

            <%= f.text_field :title, :class=> 'form-control',:placeholder => :Title %>

            <%= f.hidden_field :_destroy %>
            <%= link_to "remove this recommender", '#', class: "remove_fields btn btn-mini btn-danger" %>
            
          </div>
        </div>
    </div>
</fieldset>
