<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

  <%= custom_error_messages! %>
  <%= application_status if @user %>

  <div class='row'>
    <div class="span9">

      <div class='row'>
        <div class="span9">
          <div class="inner">
            <h2>Contact Info</h2>
          </div> <!-- end  inner -->
        </div>

        <div class='span4'>
          <div class="inner control-group">
            <%= f.text_field :first_name, :placeholder => "First Name" %>
          </div>
        </div>
        <div class='span4 offset1'>
          <div class="inner control-group">
            <%= f.text_field :last_name, :placeholer => "Last Name" %>
          </div>
        </div>

        <div class='span4'>
          <div class="inner control-group">
            <%= f.email_field :email, :placeholder => :Email %>
          </div>
        </div>
        <div class='span4 offset1'>
          <div class="inner control-group">
            <%= f.text_field :phone, :placeholder => :Phone %>
          </div>
        </div>

        <section class='address'>
          <div class="span9">
            <div class="inner">
              <p>Please enter at least one postal address.</p>
            </div>
            <%= f.fields_for :addresses do |builder| %>
              <%= render 'address_fields', f: builder %>
            <% end %>
            <div class="inner">
              <%= link_to_add_fields "Add Location", f, :addresses %>
            </div>
          </div>
        </section>

        <div class="span9">
          <div class="inner">
            <h2>Personal Info</h2>
          </div><!-- end  inner -->
        </div>

        <div class='span4'>
          <div class="inner control-group">
            <%= f.label :dob, "Date of Birth (YYYY-MM-DD)" %>
            <%= f.text_field :dob, 'data-behaviour' => 'datepicker' %>
          </div>
        </div>
        <div class='span4 offset1'>
          <div class="inner control-group">
            <%= f.label :gender %>
            <%= f.select :gender, options_for_select(%w{Male Female}, @applicant.gender), :include_blank => "Prefer to not respond" %>
          </div>
        </div>

        <div class='span4'>
          <div class="inner control-group">
            <%= f.label :ethnicity %>
            <%= f.select :ethnicity, options_for_select(%w{ Hispanic\ or\ Latino Not\ Hispanic\ or\ Latino }, @applicant.ethnicity), :include_blank => "Prefer to not respond" %>
          </div>
        </div>
        <div class='span4 offset1'>
          <div class="inner control-group">
            <%= f.label :race %>
            <%= f.select :race, options_for_select(%w{ American\ Indian\ or\ Alaskan\ Caucasian Native Asian Black\ or\ African\ American Native\ Hawaiian\ or\ Pacific\ Islander}, @applicant.race), :include_blank => "Prefer to not respond" %>
          </div>
        </div>

        <div class='span4'>
          <div class="inner control-group">
            <%= f.label :citizenship %>
            <%= f.select :citizenship, options_for_select(['United States'] + Carmen::Country.all.map(&:name), @applicant.citizenship), :include_blank => "Prefer to not respond" %>
          </div>
        </div>
        <div class='span4 offset1'>
          <div class="inner control-group">
            <%= f.label :disability %>
            <%- if show_disability_input? -%>
              <div id='disability_container' class='input-append'>
                <%= f.text_field :disability %>
                <span class='add-on'>Please specify</span>
                <button id='disability_cancel' class='btn btn-danger' type='button'>Cancel</button>
              </div>
            <%- else -%>
              <%= f.select :disability, options_for_select(%w{No Yes}, @applicant.disability), :include_blank => "Prefer to not respond" %>
            <%- end -%>
          </div>
        </div>

        <div class='span4'>
          <div class="inner control-group">
            <%= f.label :are_you_a_first_generation_college_student? %>
            <%= f.select :first_gen_college, options_for_select(['Yes'] + ['No']), :include_blank => "Prefer to not respond" %>
          </div>
        </div>
        <div class='span4 offset1'>
          <div class="inner control-group">
            <%= f.label :are_you_a_veteran_of_the_USA_military? %>
            <%= f.select :military, options_for_select(['Yes'] + ['No']), :include_blank => "Prefer to not respond" %>
          </div>
        </div>

        <section class='personal_statement'>
          <div class="span9">
            <div class="inner">
              <h2>Personal Statement</h2>
              <%= f.text_area :statement, :class => 'span8', :rows => 6, :placeholder => "Please Complete a short statement describing research you would like to perform here or your interest in SDNI research topics (why you are interested in this area of research, what you hope to learn of how you hope to benefit from the program)."  %>
            </div> <!-- end  inner -->
          </div>
        </section>

        <div class="span9">
          <div class="inner">
            <h2>Additional Info</h2>
          </div><!-- end  inner -->
        </div>

        <div class="span9">
          <div class="inner">
            <%= f.text_area :additional_info, :class => 'span8', :rows => 6, :placeholder => "Please add any other information that may be helpful in evaluating your application."  %>
          </div>
        </div>

        <div class="span9">
          <div class="inner">
            <label for="">How did you hear about us?</label>
            <div class="radio"><label for=""><%= f.radio_button(:found_us, 'NSF REU Website') %>NSF REU Website</label></div>
            <div class="radio"><label for=""><%= f.radio_button(:found_us, 'Professor') %>Professor</label></div>
            <div class="radio"><label for=""><%= f.radio_button(:found_us, 'Undergraduate Program') %>Undergraduate Program</label></div>
            <div class="radio"><label for=""><%= f.radio_button(:found_us, 'Email') %>Email</label></div>
            <div class="radio"><label for=""><%= f.radio_button(:found_us, 'Other') %>Other</label></div>
          </div>
        </div>

      </div><!-- end  span9 -->

    </div><!-- end  span9 -->

    <%= render "applicants/shared/nav" %>

    <div class="span12">
      <div class="inner">
        <hr />
        <p class='clear'><%= f.submit "Save Profile Data", :class => "btn btn-success" %></p>
        <p><small><strong>You can <%= link_to "logout", destroy_applicant_session_path, :method => :delete %> and continue you application at anytime, however, it will not be accepted until all the above data has been submitted.</strong></small></p>
      </div>
    </div>

  </div><!-- end  row -->

<% end %>
