<div class="panel panel-primary">

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => "form", :method => :put }) do |f| %>

    <div class="panel-heading">Contact Info</div>
    <div class="panel-body">
      <div class="col-md-12"><small class="pull-right">* Required</small></div>
      <%= status_error_messages! if current_applicant %>

      <%= application_status if @user %>

      <div class="form-group">

        <%= f.label :first_name %> *
        <%= f.text_field :first_name, :class => "form-control", :placeholder => "George" %>

        <%= f.label :last_name %> *
        <%= f.text_field :last_name, :class => "form-control", :placeholer => "Washington" %>

        <%= f.label :email %> *
        <%= f.email_field :email, :class => "form-control", :placeholder => 'george@whitehouse.gov' %>

        <%= f.label :phone %> *
        <%= f.text_field :phone, :class => "form-control", :placeholder => '555-555-5555' %>

      </div>

    </div>

    <div class="panel-heading">Addresses</div>
    <div class="panel-body">

      <p>Please enter at least one postal address.</p>

      <div class="form-group">
        <%= f.fields_for :addresses do |builder| %>
          <%= render 'address_fields', f: builder %>
        <% end %>

        <div class='add-container'>
          <hr />
          <%= link_to_add_fields "Add Location", f, :addresses %>
        </div>

      </div>

    </div>

    <div class="panel-heading">Personal Info</div>
    <div class="panel-body">

      <div class="form-group">

        <%= f.label :dob, "Date of Birth (YYYY-MM-DD) *" %>
        <%= f.text_field :dob, 'data-behaviour' => 'datepicker', :class => "form-control" %>

        <%= f.label :gender, "Gender *" %>
        <%= f.select :gender, options_for_select(["Male", "Female", "I define my gender differently", "Prefer to not respond"], @applicant.gender), { :include_blank => true }, { :class => "form-control" } %>

        <%= f.label :ethnicity, "Ethnicity *" %>
        <%= f.select :ethnicity, options_for_select(["Hispanic  or  Latino", "Not Hispanic or Latino", "Prefer to not respond"], @applicant.ethnicity), { :include_blank => true }, { :class => "form-control" } %>

        <%= f.label :race, "Race *" %>
        <%= f.select :race, options_for_select(["American Indian or Alaska Native", "Native Hawaiian or Pacific Islander", "Black or African American", "Asian", "White", "Mixed Race", "Prefer to not respond"], @applicant.race), { :include_blank => true }, { :class => "form-control" } %>

        <%= f.label :citizenship, "Citizenship *" %>
        <%= f.select :citizenship, options_for_select(['United States', 'Permanent Resident'], @applicant.citizenship), { :include_blank => true }, { :class => "form-control" } %>

        <%= f.label :disability, "Disability *" %>
        <%- if show_disability_input? -%>
          <div id='disability_container' class='input-append'>
            <%= f.text_field :disability, :class => "form-control" %>
            <span class='add-on'> Please specify </span>
            <button id='disability_cancel' class='btn btn-ar btn-primary btn-danger' type='button'>Cancel</button>
          </div>
        <%- else -%>
          <%= f.select :disability, options_for_select(["No", "Yes", "Prefer to not respond"], @applicant.disability), { :include_blank => true }, { :class => "form-control" } %>
        <%- end -%>

        <%= f.label(:military, 'Are you a veteran of the USA Military *') %>
        <%= f.select :military, options_for_select(["No", "Yes", "Prefer to not respond"], @applicant.military), { :include_blank => true }, { :class => "form-control" } %>
      </div>
    </div>

    <div class="panel-heading">Permission to Share Application</div>
    <div class="panel-body">

      <div class="form-group">
        <%= f.label :i_agree_to_allow_the_SURF_program_director_to_share_my_application_with_other_summer_research_programs %> *
        <%= f.select :permission_to_share, options_for_select(%w{Yes,\ please\ share\ my\ application\ with\ other\ funding\ opportunities No,\ don’t\ share\ my\ information Please\ ask }, @applicant.permission_to_share), { :include_blank => false }, { :class => "form-control" } %>
      </div>
    </div>

    <div class="panel-heading">Personal Statement</div>
    <div class="panel-body">

      <div class="form-group">
        <%= f.label :statement, "Why are you applying to the Scripps Undergraduate Research Fellowship (SURF) REU program? *" %>
        <%= f.text_area :statement, :class => 'form-control', :rows => 6, :placeholder => "Why are you applying to the Scripps Undergraduate Research Fellowship (SURF) REU program? (please limit your response to 250 words)"  %>
      </div>
    </div>

    <div class="panel-heading">Research Experience</div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :research_experience, "What, if any, research experience do you have?  What type(s) of research experience would you like to experience and develop? (note: previous research experience is not required for participation in the program) (please limit your response to 250 words) *" %>
        <%= f.text_area :research_experience, :class => 'form-control', :rows => 6, :placeholder => "What, if any, research experience do you have?  What type(s) of research experience would you like to experience and develop? (note: previous research experience is not required for participation in the program) (please limit your response to 250 words)"  %>
      </div>
    </div>

    <div class="panel-heading">Recent Achievement</div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :recent_achievement, "Please tell us about a recent achievement that you are proud of. This achievement can be in any realm of your personal or professional life.  Examples include an academic achievement, employment, an award or honor in an extra-curricular activity (i.e. sports, music, hobbies), community service, family responsibility etc. (please limit your response to 250 words) *" %>
        <%= f.text_area :recent_achievement, :class => 'form-control', :rows => 6, :placeholder => "Please tell us about a recent achievement that you are proud of. This achievement can be in any realm of your personal or professional life.  Examples include an academic achievement, employment, an award or honor in an extra-curricular activity (i.e. sports, music, hobbies), community service, family responsibility etc. (please limit your response to 250 words)"  %>
      </div>
    </div>

    <div class="panel-heading">How did you hear about us?</div>
    <div class="panel-body">
      <div class="radio"><label for=""><%= f.radio_button(:found_us, 'NSF REU Website') %>NSF REU Website</label></div>
      <div class="radio"><label for=""><%= f.radio_button(:found_us, 'Professor') %>Professor</label></div>
      <div class="radio"><label for=""><%= f.radio_button(:found_us, 'Undergraduate Program') %>Undergraduate Program</label></div>
      <div class="radio"><label for=""><%= f.radio_button(:found_us, 'Email') %>Email</label></div>
      <div class="radio"><label for=""><%= f.radio_button(:found_us, 'Other') %>Other</label></div>
    </div>

    <div class="panel-heading">Preferred Mentor</div>
    <div class="panel-body">

      <%= f.label :mentor_choice_1 %> *
      <%- if mentor1_input? -%>
        <div id='mentor1_container' class='input-append'>
          <%= f.text_field :mentor1, :class => "form-control" %>
          <span class='add-on'> Please specify </span>
          <button id='mentor1_cancel' class='btn btn-ar btn-primary btn-danger' type='button'>Cancel</button>
        </div>
      <%- else -%>
        <%= f.select :mentor1, options_for_select(Reuman::Application::MENTORS, @applicant.mentor1), { :include_blank => false }, { :class => "form-control" } %>
      <%- end -%>

      <br />

      <%= f.label :mentor_choice_2 %> *
      <%- if mentor2_input? -%>
        <div id='mentor2_container' class='input-append'>
          <%= f.text_field :mentor2, :class => "form-control" %>
          <span class='add-on'> Please specify </span>
          <button id='mentor2_cancel' class='btn btn-ar btn-primary btn-danger' type='button'>Cancel</button>
        </div>
      <%- else -%>
        <%= f.select :mentor2, options_for_select(Reuman::Application::MENTORS, @applicant.mentor2), { :include_blank => false }, { :class => "form-control" } %>
      <%- end -%>

      <br />

      <%= f.label :mentor_choice_3 %> *
      <%- if mentor3_input? -%>
        <div id='mentor3_container' class='input-append'>
          <%= f.text_field :mentor3, :class => "form-control" %>
          <span class='add-on'> Please specify </span>
          <button id='mentor3_cancel' class='btn btn-ar btn-primary btn-danger' type='button'>Cancel</button>
        </div>
      <%- else -%>
        <%= f.select :mentor3, options_for_select(Reuman::Application::MENTORS, @applicant.mentor3), { :include_blank => false }, { :class => "form-control" } %>
      <%- end -%>
    </div>

    <div class="panel-heading">Program Dates</div>
    <div class="panel-body">
      <div class="checkbox">
        <%= f.check_box :acknowledged_dates %>
        <%= f.label :acknowledged_dates, "By checking this box I acknowledge the dates of the programs as, Program Start Date: #{format_date_string(Setting['program_start_date'])}, Program End Date: #{format_date_string(Setting['program_end_date'])}" %>
      </div>
    </div>

    <%= render "applicants/shared/nav" %>

    <div class="panel-body">
      <hr />
      <p class='clear'><%= f.submit "Save Profile Data", :class => "btn btn-ar btn-primary" %></p>
      <p><small><strong>You can <%= link_to "logout", destroy_applicant_session_path, :method => :delete %> and continue you application at anytime, however, it will not be accepted until all the above data has been submitted.</strong></small></p>
    </div>

  <% end %>
</div>
