<div class="panel panel-primary">
  <%= form_for(current_applicant, :url => applicants_records_url, :html => { :method => :put, :multipart => true }) do |f| %>
    <h2 class="save-notice">You must enter all information, attach your transcript file, and click the Save Academic Info button before moving to the Recommendation Section. If your information is not complete, the data will not save. You will be able to edit this information after saving.</h2>

    <div class="panel-heading">Academic Info</div>
    <div class="panel-body">
      <%= errors_for current_applicant %>

      <div class="form-group">
        <%= f.label 'Current Academic Level' %>
        <%= f.select :academic_level, options_for_select(%w{ Freshman Sophomore Junior Senior }, current_applicant.academic_level), {:include_blank => ''}, { :class => "form-control" }%>

        <%= f.fields_for :records do |builder| %>
          <%= render 'record_fields', f: builder %>
        <% end %>
        <div class="add-container"><%= link_to_add_fields "Add academic record", f, :records %></div>
      </div>
    </div>

    <div class="panel-heading">GPA Comments</div>
    <div class="panel-body">
      <%= f.label :gpa_comment, "Do you feel that your academic record accurately reflects your abilities as a student?  Please explain. (please limit your response to 250 words)" %>
      <%= f.text_area :gpa_comment, :class => 'form-control', :rows => 2  %>
    </div>

    <div class="panel-heading">Awards</div>
    <div class="panel-body">
      <%= f.fields_for :awards do |builder| %>
        <%= render 'award_fields', f: builder %>
      <% end %>
      <div class="add-container"><%= link_to_add_fields "Add award", f, :awards %></div>
    </div>

    <div class="panel-heading">Computer Skills</div>
    <div class="panel-body">
      <%= f.label :cpu_skills, "Please list any computer related skills (e.g. application experience, programming ability, etc.) you currently possess.  Which existing skills would you like to improve, or new skills would you like to develop?  (please limit your response to 250 words)"%>
      <%= f.text_area :cpu_skills, :class => 'form-control', :rows => 2  %>
    </div>
    
    <div class="panel-heading">Laboratory Skills</div>
    <div class="panel-body">
      <%= f.label :lab_skills, "Please list any laboratory related skills you currently possess.  Which existing skills would you like to improve, or new skills would you like to develop? (please limit your response to 250 words)" %>
      <%= f.text_area :lab_skills, :class => 'form-control', :rows => 2  %>
    </div>

    <%= render "applicants/shared/nav" %>

    <div class="panel-body">
      <hr />
      <p class='clear'><%= f.submit "Save Academic Info", :class => "btn btn-success" %></p>
      <small><strong>You can <%= link_to "logout", destroy_applicant_session_path, :method => :delete %> and continue you application at anytime, however, it will not be accepted until all the above data has been submitted.</strong></small>
    </div>

  <% end %>
</div>
