<h4>Academic Records</h4>

<ul>
  <%- records.map do |r| -%>
    <li><%= raw %{#{applicant.academic_record(r)} #{link}} %></li>
  <%- end -%>
</ul>

<h4>Awards</h4>
<ul>
  <%- awards.each do |award| -%>
    <li><%= award %></li>
  <%- end -%>
</ul>
<%= "No awards listed" if awards.empty? %>

<h4>Lab Skills</h4>
<%= raw(Markdown.render applicant.lab_skills) if applicant.lab_skills %>

<h4>Computer Skills</h4>
<%= raw(Markdown.render applicant.cpu_skills) if applicant.cpu_skills %>

<h4>What are you future academic/career goals?</h4>
<%= raw(Markdown.render applicant.essay_1) if applicant.essay_1 %>

<h4>Describe an activity (hobby, sport, club, service, etc.) you enjoy outside of classes</h4>
<%= raw(Markdown.render applicant.essay_2) if applicant.essay_2 %>
